body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-shadow: 10px;
}
    


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}   

.invoice {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.invoice-header-left img {
    margin-right: 10px;
}

.invoice-header-right h2 {
    margin: 0;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.invoice-table th,
.invoice-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.invoice-table th {
    background-color: #f2f2f2;
}

.invoice-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-invoice {
    text-align: center;
    font-style: italic;
    color: #666;
}
