

 .login 
 {
    width: 55% !important;
    background: white;
    padding: 30px;
    margin-left: 90px;


  }

 .login h4 {
            margin: 0 0 16px 0;
            text-align: center;
 }

        .login label {
            display: block;
            margin: 8px 0;
            color: blue;
        }

        .login input[type="email"], .login input[type="password"] {
            width: 100%;
            padding: 8px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid black;
            border-radius: 4px;
        }

        .login button {
            width: 100%;
            padding: 8px;
            margin: 8px 0;
            background-color: blue;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .login button:hover {
            background-color: darkblue;
        }