body {
    font-family: Arial, sans-serif;
    background-color: #d9e9f8;
}
#searchbox{
    width: 700px;
}
.signup{
    width: 40% !important;
    background: white;
    padding: 30px;
    margin-left: 400px;
}
.Sign-up h2{
    text-align: center;
    font-size: 24px;
}

.container h5 {
    color: white;
    font-size: 40px;
    margin-left: 32px;
    margin-top: 20px;
}

.nav-link-custom:active,
.nav-link-custom:focus,
.nav-link-custom:hover {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #ffffff26;
    color: #fff;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link-custom .mx-2 {
    margin: 2.5rem !important;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: #4E52D0;
    color: #fff;
    margin-left: -62px;
    margin-right: 10px;
}

.my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
}
